table {
    border-collapse: collapse;
    width:100%;
}
th,td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
h1{
    text-align: center;
    font-size: 22px;
}
h2{
    text-align: center;
}
.d1{
    text-align: center;
    background-color: rgb(8, 54, 1);
    color: rgb(255, 0, 106);
    font-weight: 600;
}
.f5{
    text-align: right;
}
@media (min-width: 992px) {
      
    .col-lg-4 {
     font-size: 1.3em;;
    }
    .col-lg-3 {
     font-size: 1.2em;
    }
   }
   
   /*medium */
   @media (min-width: 768px) and (max-width: 992px){
    .col-md-6 {
       font-size: 1.2em;
    }
   
    .col-md-7 {
       font-size: 1.1em;
    }
   }
   
   /*small*/
   @media (max-width: 768px){
   
    .col-sm-12 {
       font-size: 1.1em;
    }
   }
